<header class="header">
    <label class="header__burger-button" for="drawer">
        <i class="fa-solid fa-bars"></i>
    </label>
    <input class="header__responsive-checkbox" type="checkbox" name="drawer" id="drawer">
    <nav class="header__nav">
        <label class="header__close-button" for="drawer">
            <!-- <i class="fa-solid fa-xmark"></i> -->
            <i class="fa-solid fa-x"></i>
        </label>
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="/index.html" class="header__nav-link">Home</a>
            </li>
            <li class="header__nav-item">
                <a href="/pages/about.html" class="header__nav-link">Acerca de</a>
            </li>
            <li class="header__nav-item">
                <a href="/pages/contact.html" class="header__nav-link">Contacto</a>
            </li>
            <li class="header__nav-item">
                <a href="/pages/register.html" class="header__nav-link">Registrarse</a>
            </li>
            <li class="header__nav-item">
                <a href="/pages/location.html" class="header__nav-link">Sucursales</a>
            </li>
        </ul>
    </nav>
    <label class="header__darkscreen" for="drawer"></label>
    <div class="header__brand">
        <h1 class="header__brand-title">Recetas de cocina</h1>
    </div>
</header>