<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>

    <div class="container">

        <div class="recipe-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Weekend_in_Buenos_Aires.jpg/251px-Weekend_in_Buenos_Aires.jpg" alt="Milanga">
            <h2>Milanesa re rica</h2>
            <hr>
            <div class="descripction-container">
                <input type="checkbox" name="card-check" id="card-check">
                <header class="description-header">
                    <label class="header__burger-button" for="card-check">
                        <
                    </label>
                    <h3 class="card-title">
                    </h3>
                    <label class="header__burger-button" for="card-check">
                        >
                    </label>
                </header>
                <ul class="list">
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                    <li>Ingrediente</li>
                </ul>
                <div class="preparation">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consectetur perferendis quae possimus voluptas cum corporis et debitis voluptate quisquam accusantium repudiandae recusandae provident, itaque laboriosam deleniti illo ab facere eligendi, error numquam eum impedit? Nulla, magni suscipit aut quibusdam, facere ab ipsum, assumenda maxime magnam ullam deleniti unde aliquam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, consectetur perferendis quae possimus voluptas cum corporis et debitis voluptate quisquam accusantium repudiandae recusandae provident, itaque laboriosam deleniti illo ab facere eligendi, error numquam eum impedit? Nulla, magni suscipit aut quibusdam, facere ab ipsum, assumenda maxime magnam ullam deleniti unde aliquam.
                    </p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>