---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
    <main class="main">
        <section class="section">
            <img 
                src="https://d3vh4n5.com.ar/me.png" 
                alt="Imagen de pruebas" 
                width="600px"
                transition:name="test image"
                />

            <h3 
                class="shared-title"
                transition:name="test subtle"
                >subtitulo de pruebas</h3>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore autem rem ex aperiam fuga nobis perferendis. Facilis dolores laborum ad nisi pariatur, inventore optio magni!
            </p>
            <p>
                <a href="/test">test</a>
            </p>
        </section>
    </main>
</Layout>