/* header */

.header {
    padding: 10px;
    height: 100px;
}


.header__nav-list{
    display: flex;
    gap: 20px;
}

.header__nav-item{
    list-style: none;
}

.header__nav-link{
    text-decoration: none;
    color: var(--color-light);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: inline-block;
    border-radius: .5rem;

    &:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.header__brand-title{
    text-align: center;
}