/* header */

.header {
    padding: 10px;
}

.header__marquee{
    background-color: black;
}

.header__nav{
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 20px;
}

.header__nav-list{
    display: flex;
    gap: 20px;
}

.header__nav-item{
    list-style: none;
}

.header__nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-light);
    display: inline-block;
    border-radius: .5rem;
    /* white-space: nowrap; */

    &:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.header__brand-title{
    text-align: center;
}



/*
    Responsive mechanics
*/

.header__burger-button, .header__close-button{
    display: none;
}

.header__responsive-checkbox {
    display: none;
}

@media (max-width: 530px) {
    .header__burger-button, .header__close-button{
        border: 2px solid rgba(211, 211, 211, 0.384);
        border-radius: 3px;
        font-size: 20px;
        display: grid;
        place-items: center;
        width: fit-content;
        padding: 6px;
    }

    .header__nav{
        position: fixed;
        background-color: var(--color-primary);
        left: -100%;
        top: 0;
        width: max(25%, 200px);
        height: 100%;
        padding: 10px;
        transition: all .5s;
        z-index: 100;
    }

    .header__nav-list{
        flex-direction: column;
    }
    
    .header__responsive-checkbox:checked ~ .header__nav {
        left: 0;
    }
    .header__responsive-checkbox:checked ~ .header__darkscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 50;
    }

    .header__close-button{
        color: red;
        margin-bottom: 20px;
        border: none
    }

    .header__nav-link{
        padding: 10px;
        width: 100%;
    }
}