/* Main */
.main{
    flex: 1;
    height: fit-content;
}

.section {
    padding: 20px;
}

.section__title{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 30px;
}

.section__img-container{
    margin: 40px auto;
    width: fit-content;
    width: min(100%, 400px);
}

.section__button{
    all: unset;
    text-decoration: none;
    color: currentColor;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: inline-block;
    border-radius: .5rem;

    &:hover{
        cursor: pointer;
        background-color: white;
        box-shadow: 0px 0px 10px 3px rgba(255, 208, 0, 0.432) inset;
    }
}

.img{
    width: 100%;
}

.recipe__title{
    margin: 20px 0;
}

.recipe__preparation{
    text-align: justify;
    margin-bottom: 20px;
}

.recipe__ingredients{
    margin-left: 30px;
}