---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de">
    <main class="main">
        <section class="section">
            <h2 class="section__title">Acerca de</h2>
            
            <figure class="section__img-container">
                <picture>
                    <source class="img" media="(min-width: 1024px)" srcset="https://www.pinar.com.ar/resources/users-uploads/galleries/253/noticias/pinar7.jpg">
                    <source class="img" media="(min-width: 768px)" srcset="https://interactive-examples.mdn.mozilla.net/media/cc0-images/elephant-660-480.jpg">
                    <img class="img" src="https://www.pinar.com.ar/resources/users-uploads/galleries/253/noticias/pinar7.jpg" alt="Kitchen image">
                </picture>
                <figcaption>
                    La famosa cocina de Juan.
                </figcaption>
            </figure>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur quia cupiditate facilis. Quisquam esse officia, consectetur ipsa ratione nulla. Maxime, accusantium excepturi! <mark>Delectus labore inventore</mark> nobis aliquam reprehenderit accusantium eum voluptate, placeat velit. Id, tenetur, officia eum excepturi magnam sint nihil porro odit quasi quos similique saepe tempora. Ullam consequatur ab quam laudantium eius architecto maiores veritatis, aliquid rem officiis perferendis totam hic vitae odit natus quos officia, animi, corporis molestias voluptatibus voluptates? Illo error eum nihil sapiente, nobis iusto, repellendus ad natus beatae alias exercitationem veniam necessitatibus sed sit culpa ipsam? Totam earum optio vero debitis ullam laborum facere, blanditiis odio et saepe aperiam obcaecati iste quasi, distinctio temporibus quis accusamus consequatur nam odit fuga sequi illum? Voluptates, ipsam enim. Doloremque nostrum eligendi obcaecati ab quidem a iusto voluptas quos illo dolorem ut voluptatem perferendis, nihil minima, ex inventore eos provident beatae ratione. Quod aspernatur eius facere harum consequuntur itaque autem? Cum harum consectetur sapiente aliquam. Velit quis eligendi numquam dignissimos? Vitae iure architecto sapiente dolorum nihil ab laudantium. Quas provident laudantium amet ut? Itaque libero, maiores doloribus molestias vero dicta nulla est omnis magnam quibusdam ut, minus nemo sit dolorem fugiat fuga. Possimus minus beatae laudantium magni dolorem?
            </p>
        </section>
    </main>
</Layout>

<style>
</style>