---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <main class="main">
        <section class="section">
            <h2 class="section__title">Contacto</h2>

            <p>
                Puedes contactarme por este correo: <a href="mailto:juanangelbasgall@hotmail.com">juanangelbasgall@hotmail.com</a>
            </p>
            
        </section>
    </main>
</Layout>