---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Sucursales'>

    
    <main class="main">
        <section class="section">
            <h2 class="section__title ">Sucursales</h2>
            Campana: <a href="https://maps.app.goo.gl/Ca2fCTFYUFjbTXRW9" target="_blank">Avanida siempreviva  1200</a>
            <br>
            <br>
            <ul>
                <li>
                    <a href="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d693.6957346356287!2d-58.959810189903884!3d-34.20280040800002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-34.202764!2d-58.9598271!5e0!3m2!1ses-419!2sar!4v1710343336691!5m2!1ses-419!2sar" target="iframe-maps">Dirección 1</a>
                </li>
                <li>
                    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.263992155983!2d-58.96785388844293!3d-34.19073073569349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb718292a2bedf%3A0xa161b0a66a584096!2sCastelli%201801-1851%2C%20Campana%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1710036198128!5m2!1ses!2sar" target="iframe-maps">Dirección 2</a>
                </li>
            </ul>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.263992155983!2d-58.96785388844293!3d-34.19073073569349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb718292a2bedf%3A0xa161b0a66a584096!2sCastelli%201801-1851%2C%20Campana%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1710036198128!5m2!1ses!2sar" class="section__iframe" loading="lazy"  name="iframe-maps"></iframe>
        </section>
    </main>

</Layout>