<footer class="footer">
    <div class="footer__social-container">
        <ul class="footer__social-list">
            <li class="footer__social-item"><a class="footer__social-link" href="https://www.linkedin.com/in/juanangelbasgall/" target="_blank" title="LinkedIn" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="https://github.com/d3vh4n5" target="_blank" title="GitHub" rel="noopener noreferrer"><i class="fa-brands fa-square-github"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="https://d3vh4n5.com.ar/" target="_blank" title="Portfolio" rel="noopener noreferrer"><i class="fa-duotone fa-id-card"></i></i></a></li>
        </ul>
    </div>
    <small class="footer__copyright">
        Juan Basgall ©️ 2024 Codo a Codo Comisión 24126.
    </small>
</footer>